body {
  margin: 0rem;
  padding: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
}
a {
  display: block;
}
.title {
  text-transform: capitalize;
  background-color: #e4e800;
  color: #000000;
  padding: 1rem 6rem;
  margin: 0rem;
  box-shadow: 0rem 0rem 0.2rem #d9dd00;
}
.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #9c00b1;
}
.link {
  padding: 1rem 2rem;
}
.container {
  text-align: center;
}
